<!DOCTYPE html>

<html lang="en">
<head>
  
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 

	<title>الرحالة</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

	<!-- Styles -->
	<link rel="stylesheet" href="js/owl-carousel/owl.carousel.css">
	<link rel="stylesheet" href="js/owl-carousel/owl.theme.css">
	<link rel="stylesheet" href="js/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" href="js/rs-plugin/css/settings.css">
	<link rel="stylesheet" href="js/flexslider/flexslider.css">
	<link rel="stylesheet" href="js/isotope/isotope.css">
	<link rel="stylesheet" href="css/jquery-ui.css">
	<link rel="stylesheet" href="js/magnific-popup/magnific-popup.css">
	<link rel="stylesheet" href="css/style.css">

	<!-- Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

	<!-- Icon Fonts -->
	<link rel="stylesheet" href="css/icomoon/style.css" type="text/css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

	<!-- SKIN -->
	<link rel="stylesheet" href="css/color-scheme/default-blue.css" type="text/css">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
           <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.2/jquery.xdomainrequest.min.js"></script>      
	<![endif]-->

</head>
<body>

<div class="outer-wrapper">

	<!-- TOPBAR -->
	<div id="top-bar" class="hidden-xs hidden-sm">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="top-bar-content">
						<p>Besion d'aide? <span></span><i class="icon-mobile2"></i> (216) 25855000 <span></span>&bull;<span></span> <i class="icon-mail3"></i> Mail us - <a href="#">alrahala@gmail.com</a></p>
					</div>
					<div class="top-login">
						<a href={{path('login')}}>Login</a>
					</div>
					<div class="nav-social-icons">
						<ul class="social-icons">
							<li class="facebook">
								<a href="http://facebook.com" target="_blank">
								<i class="fa fa-facebook"></i><i class="fa fa-facebook"></i>
								</a>
							</li>
							<li class="google-plus">
								<a href="http://google.com" target="_blank">
								<i class="fa fa-google-plus"></i>
								<i class="fa fa-google-plus"></i>
								</a>
							</li>
							
							</li>
							<li class="instagram">
								<a href="http://instagram.com" target="_blank">
								<i class="fa fa-instagram"></i>
								<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li class="youtube">
								<a href="http://youtube.com" target="_blank">
								<i class="fa fa-youtube"></i>
								<i class="fa fa-youtube"></i>
								</a>
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- HEADER -->
	<header id="header-main">
		<div class="container">
			<div class="navbar yamm navbar-default">
				<div class="navbar-header">
					<button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand"><img src="" width="40" alt=""/></a>
				</div>

				<!-- CART / SEARCH -->
				<div class="header-x pull-right">
					<div class="s-cart">
						<div class="sc-trigger"><i class="icon-bag"></i><span>2</span></div>
						<div class="cart-info">
							<small>You have <em class="highlight">2 item(s)</em> in your shopping bag</small>
							<br>
							<br>
							
							<div class="ci-item">
								<img src="images/shop/8.jpg" width="70" alt=""/>
								<div class="ci-item-info">
									<h5><a href="./single-product.html">Product fashion</a></h5>
									<p>2 x $250.00</p>
									<div class="ci-edit">
										<a href="#" class="edit fa fa-edit"></a>
										<a href="#" class="edit fa fa-trash"></a>
									</div>
								</div>
							</div>
							<div class="ci-total">Subtotal: $750.00</div>
							<div class="cart-btn">
								<a href="#">View Bag</a>
								<a href="#">Checkout</a>
							</div>
						</div>
					</div>
					<div class="s-search">
						<div class="ss-trigger"><i class="icon-search2"></i></div>
						<div class="ss-content">
							<span class="ss-close icon-cross2"></span>
							<div class="ssc-inner">
								<form>
									<input type="text" placeholder="Type Search text here...">
									<button type="submit"><i class="icon-search2"></i></button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
						<li class="dropdown yamm-fw">
							<a href={{path('home')}} data-toggle="dropdown" class="dropdown-toggle">
								Accueil 
							
							</a>
							
						</li>

				  <li class="dropdown yamm-fw">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Activités 
								<div class="arrow-up"><i class="fa fa-angle-down"></i></div>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="yamm-content">
										<div class="row">
											
											<ul class="col-sm-3">
												<li><a href={{path('activites')}}>Activités avec Groups</a></li>
												<li><a href="404.html">Activités avec Agences</a></li>
												
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>
                         <li class="dropdown yamm-fw">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Événements 
								<div class="arrow-up"><i class="fa fa-angle-down"></i></div>
							</a>
							<ul class="dropdown-menu">
								<li>
									<div class="yamm-content">
										<div class="row">
											
											<ul class="col-sm-3">
												<li><a href="maintenance_mode.html">Événements avec Groups</a></li>
												<li><a href="404.html">Événements avec Agences</a></li>
												
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</li>



                         <li class="dropdown ">
							<a href={{path('dashbord')}} data-toggle="dropdown" class="dropdown-toggle">
								Activités 
								<div class="arrow-up"><i class="fa fa-angle-down"></i></div>
							</a>
							<ul class="dropdown-menu" role="menu">
								
								<li class="dropdown-submenu">
									<a href={{path('dashbord')}}>acount</a>
								
								</li>
								<li class="dropdown-submenu">
									<a href="#">Activités avec Agences</a>
									
								
							</ul>
						</li>
				  <li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Blog 
							</a>
							
						</li>
				 
				  <li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								shop 
								<div class="arrow-up"><i class="fa fa-angle-down"></i></div>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="shop-left-sidebar.html">Shop - Left Sidebar</a></li>
								<li><a href="shop-right-sidebar.html">Shop - Right Sidebar</a></li>
								<li><a href="shop-fullwidth.html">Shop - Fullwidth</a></li>
								<li><a href="shop-single-left.html">Single - Left Sidebar</a></li>
								<li><a href="shop-single-right.html">Single - Right Sidebar</a></li>
								<li><a href="shop-cart.html">Shop - Cart</a></li>
								<li><a href="shop_checkout.html">Shop - Checkout</a></li>
								<li><a href="shop-login.html">Shop - Account</a></li>
							</ul>
						</li>
				  <li class="dropdown">
							<a href="#" data-toggle="dropdown" class="dropdown-toggle">
								Contact 
								<div class="arrow-up"><i class="fa fa-angle-down"></i></div>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="contact1.html">Contact 1</a></li>
							</ul>
						</li>
				  </ul>
				</div>
			</div>
		</div>
	</header>

	<!-- SLIDER -->
	<div class="slider-wrap">

		<div class="tp-banner-container">
			<div class="tp-banner" >
				<ul>
					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="" data-delay="13000"  data-saveperformance="off"  data-title="Our Workplace">
						<img src="images/slider/camping.jpg"  alt="kenburns1"  
						data-bgposition="left center" data-kenburns="on" 
						data-duration="14000" data-ease="Linear.easeNone" 
						data-bgfit="100" data-bgfitend="130" data-bgpositionend="right center">
						<div class="tp-caption customin customout tp-resizeme"
							data-x="left" data-hoffset="60"
							data-y="170"
							data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="1000"
							data-start="500"
							data-easing="Back.easeInOut"
							data-endspeed="300"
							style="font-size:80px;color:#fff;text-transform:uppercase;font-weight: 800 !important;letter-spacing: 0px;line-height: 120% !important;"
							>الرحالة <br>
							
						</div>
						
						<div class="tp-caption light_title customin customout tp-resizeme"
							data-x="left" data-hoffset="60"
							data-y="370"
							data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="1000"
							data-start="700"
							data-easing="Back.easeInOut"
							data-endspeed="300" 
							style="font-size:18px;color:#fff;"
							> <h1 >Le premier guide des offres outdoor...</h1><br>
							Pour vous faire vivre une Tunisie autrement!
                           
						</div>
						<a href={{path('login')}} class="tp-caption small_title  customin customout tp-resizeme"
							data-x="right" data-hoffset="60"
							data-y="450"
							data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
							data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="1600"
							data-start="900"
							data-easing="Back.easeInOut"
							data-endspeed="300" style="	background: #000;
							padding:18px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							font-size: 16px;
							letter-spacing: 2px;
							border-radius: 0px;
							display: table;
							transition: .4s;
							border-radius:5px;
							">S'inscrie</a>
					</li>
					<!-- SLIDE  -->
					<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-saveperformance="on"  data-title="Ken Burns Slide">
						<!-- MAIN IMAGE -->
						<img src="images/slider/camping-en-vogue.jpg"  alt="2" data-lazyload="images/slider/camping-en-vogue.jpg" data-bgposition="right top" data-kenburns="on" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">
						<!-- LAYERS -->
						<!-- LAYER NR. 1 -->
						<div class="tp-caption small_text lft tp-resizeme rs-parallaxlevel-0"
							data-x="center"
							data-y="210" 
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1200"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.05"
							data-endelementdelay="0.1"
							style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;
							min-height: 0px;
							position: absolute;
							color: #fff;
							text-shadow: none;
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							margin: 0px;
							border-width: 0px;
							border-style: none;
							text-transform: uppercase;
							white-space: nowrap;
							letter-spacing: 1.8px;
							"><span>Why you choose this template</span>
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
							data-x="center"
							data-y="256"
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1400"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;   width: 60px !important;
							height: 1px !important;
							background: #fff !important;
							">
							<p class="line white"></p>
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0 center-align"
							data-x="center"
							data-y="280" 
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="1800"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;  color: #222222;
							text-shadow: none;
							font-size: 48px;
							line-height: 50px;
							font-weight: 900;
							background-color: none;
							text-decoration: none;
							font-family:Open Sans, sans-serif;
							text-transform: uppercase;
							border-width: 0px;
							color: #fff;
							text-align:center;
							border-color: transparent;
							border-style: none;
							letter-spacing: 2.5;
							"><span>A Creative way to show <br> your projects</span>
						</div>
						<!-- LAYER NR. 4 -->
						<div class="tp-caption small_text customin tp-resizeme rs-parallaxlevel-0"
							data-x="center"
							data-y="405" 
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="2000"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;">
							<p class="line white"></p>
						</div>
						<!-- LAYER NR. 5 -->
						<div class="tp-caption small_text lfr tp-resizeme rs-parallaxlevel-0"
							data-x="center"
							data-y="435" 
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="2400"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;  position: absolute;
							color: #222222;
							text-shadow: none;
							font-weight: 400;
							font-size: 14px;
							line-height: 20px;
							margin: 0px;
							border-width: 0px;
							font-family:Open Sans, sans-serif;
							text-transform: uppercase;
							white-space: nowrap;
							color: #fff;
							letter-spacing: 1.8px;
							"><span>Create UNLIMITED portfolios and showcase them ANYWHERE</span>
						</div>
						<!-- LAYER NR. 6 -->
						<a href="#" class="tp-caption lfb tp-resizeme rs-parallaxlevel-0"
							data-x="center"
							data-y="490"
							data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
							data-speed="500"
							data-start="2800"
							data-easing="Power3.easeInOut"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-linktoslide="next"
							style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;padding:18px 28px;
							color: #fff;
							text-transform: uppercase;
							border: none;
							background:#000;
							font-size: 13px;
							letter-spacing: 2px;
							font-family: Montserrat;
							border-radius: 0px;
							display: table;
							transition: .4s;
							border-radius:5px;">buy this theme</a>
					</li>
					<!-- SLIDE  -->
				</ul>
				<div class="tp-bannertimer"></div>
			</div>
		</div>
	</div>

	<!-- INNER CONTENT -->
	<div class="inner-content no-padding">
		<div class="container">
			<div class="space60"></div>
			<div class="welcome-content text-center">
				<h2>bienvenue chezالرحالة</h2>
				<p class="lead"></p>
			</div>
		</div>
		<div class="container">
			<div class="service-home col-md-12 text-center">
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#">
					<i class="icon-air-play"></i>
					</a>
					<div class="clearfix"></div>
					<h4>Responsive Design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
					<a class="readmore" href="#">Read more...</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#">
					<i class="icon-cog3"></i>
					</a>
					<div class="clearfix"></div>
					<h4>Easy Settings</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
					<a class="readmore" href="#">Read more...</a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<a href="#">
					<i class="icon-pie-graph"></i>
					</a>
					<div class="clearfix"></div>
					<h4>Amazing stats</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod enim a metus adipiscing aliquam. Vestibulum in vestibulum lorem.</p>
					<a class="readmore" href="#">Read more...</a>
				</div>
			</div>
		</div>
		
		
		
		
	</div>

	<div class="parallax-bg3 padding70">
		<div class="container home-testimonials ">
			<div class="text-center space70">
				<h2 class="white uppercase"></h2>
			</div>
			<div id="home-quote" class="owl-carousel owl-theme">
				<div class="item">
					<div class="hq-info">
						<p>"Si tu penses ne pas pouvoir faire quelque chose, fais-le quand même. Ça s'appelle dépasser sa zone de confort. C'est là que se trouvent les miracles ! ... C'est là que se trouvent les miracles !
							</p>
						<img src="images/quote/thumb/1.png" alt="">
					</div>
				</div>
				<div class="item">
					<div class="hq-info">
						<p>" ce qui importe , ce n'est pas le voyage, c'est cellui avec lequel on voyage.</p>
						<img src="images/quote/thumb/2.png" alt="">
					</div>
				</div>
				
				</div>
			</div>
		</div>
	</div>

	<!-- TWEET / SUBSCRIBE -->
	<div class="footer-top">
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 f-subscribe">
					<small> Recevoir <br>des mises <em> a jour et plus</em></small>
					<form>
						<input placeholder="Search here ..." type="text">
						<button type="submit">SOUSCRIRE</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- FOOTER -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
				          
					<h4 class="space30">EXPLORER</h4>
					
					<a style="font-size:18px;color:#808080;" href="#"> A propos</a><br>
					<a style="font-size:18px;color:#808080;" href="#">Devenir partenaire</a><br>
				    <a style="font-size:18px;color:#808080;" href="#">	Condition d'utilisation</a><br>
                    <a style="font-size:18px;color:#808080;" href="#">  Contact</a><br>
                   <a style="font-size:18px;color:#808080;" href="#">  FAQs</a>
				</div>
				
				<div class="col-md-4">
					<h4 class="space30">BESOIN D'AIDE?</h4>
			        <ul class="c-info">
						
						<li><i class="fa fa-phone"></i> (216) 25855000</li>
						<li><i class="fa fa-envelope-o"></i> alrahala@gmail.com</li>
						
					</ul>
					<div class="clearfix space10"></div>
				</div>
                <div class="col-md-4">
					<h4 class="space30">Suivez nous</h4>
			  <ul class="social-icons">
							<li class="facebook">
								<a href="http://facebook.com" target="_blank">
								<i class="fa fa-facebook"></i><i class="fa fa-facebook"></i>
								</a>
							</li>
							<li class="google-plus">
								<a href="http://google.com" target="_blank">
								<i class="fa fa-google-plus"></i>
								<i class="fa fa-google-plus"></i>
								</a>
							</li>
							
							</li>
							<li class="instagram">
								<a href="http://instagram.com" target="_blank">
								<i class="fa fa-instagram"></i>
								<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li class="youtube">
								<a href="http://youtube.com" target="_blank">
								<i class="fa fa-youtube"></i>
								<i class="fa fa-youtube"></i>
								</a>
							</li>
							
						</ul>
				</div>
			</div>
		</div>
	</footer>

	<!-- FOOTER COPYRIGHT -->
	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<p>&copy; Copyright 2020. Al Rahala</p>
				</div>
				
			</div>
		</div>
	</div>
</div>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Plugins -->
<script src="js/bootstrap.min.js"></script>
<script src="js/menu.js"></script>
<script src="js/owl-carousel/owl.carousel.min.js"></script>
<script src="js/rs-plugin/js/jquery.themepunch.tools.min.js"></script>   
<script src="js/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script src="js/jquery.easing.min.js"></script>
<script src="js/isotope/isotope.pkgd.js"></script>
<script src="js/jflickrfeed.min.js"></script>
<script src="js/tweecool.js"></script>
<script src="js/flexslider/jquery.flexslider.js"></script>
<script src="js/easypie/jquery.easypiechart.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/jquery.inview.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>



<script src="js/main.js"></script>
 


